.ipynb_checkpoints
*.pyc

*.log

*.aux

*.rel

*.gz

*.blg

*.bbl

*.swp

.DS_Store

coverage_report/

.coverage

rugstk
tuna

runs

# virtualenv shortcut script
activate

# minimal subset for Tensorboard logging
/tensorflow

nosetests.json
